body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spawnGrid {
    padding: 8px;
    border-radius: 8px;
    background-color: pink;
}

.gridContainer {
    margin: auto;
    display: grid;
    grid-gap: 1px;
    padding: 40px 100px;
    height: 42vw;
    width: 42vw;
  }
  
  .drawable {
    display: flex;
    flex: 1 1 auto;
    margin: 2px;
    border: 1px;
    aspect-ratio: 1/1;
    border-style: solid;
    border-color: black;
  }